mat-toolbar{
    height: 10%;
    width: 100%;
    background-color: #1D1D1D;
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
a:hover{
    cursor: pointer;
}
.label-btn{


    height: 100%;
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
}
.spacer{
    flex: 1 1 auto;
}
.nav-btn{
    height: 100%;
    width: 12%;

    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-log-out{
    background-color:#b13d20;
    border-radius: 15px;
    height: 80%;
}
.nav-log-out:hover{
    background-color:rgb(138, 50, 28);
}




/* More than half */
@media (max-width: 1400px){
    .label-btn{
        width: 30%;
    }
    .nav-btn{
        width: 15%;
    }
}
/* Half */
@media (max-width: 1000px){
    .label-btn{
        width: 40%;
        font-size: 36px;
    }
    .nav-btn{
       width: 20%;
       font-size: 30px;
    }
}
/* Less than half */
@media (max-width: 700px){
    .label-btn{
        display: none;
    }
    .nav-btn{
        width: 33%;
        font-size: 30px;
     }
}
/* Phone vertical */
@media (max-width: 540px){
    .label-btn{
        display: none;
    }
    .nav-btn{
        width: 33%;
        font-size: 24px;
    }
}
/* Phone horizontal */
@media (max-height: 420px){
    mat-toolbar{
        height: 20%;
    }
}


