<mat-toolbar>
    <a routerLink="./kanban" class="label-btn" routerLinkActive="active">Task board</a>
    <span class="spacer"></span>
    <a href="https://github.com/Raza-ILV" target="_blank" class="nav-btn" routerLinkActive="active">Github</a>
    <a routerLink="./about" class="nav-btn" routerLinkActive="active">About us</a>
    <a routerLink="./kanban" class="nav-btn" routerLinkActive="active">Board</a>
    <a class="nav-btn nav-log-out" routerLink="./../login" routerLinkActive="active" (click)="logOut()">Log out</a>
</mat-toolbar>
