<mat-toolbar>
    <a routerLink="./kanban" class="label-btn" routerLinkActive="active">Task board</a>
    <span class="spacer"></span>
    <a href="https://github.com/Raza-ILV/ANGULAR-Kanban-LocalStorage" target="_blank" class="nav-btn" routerLinkActive="active">Github</a>
    <a routerLink="./kanban" class="nav-btn" *ngIf="!currentPageIsBoard" (click)="switchPage()" >Board</a>
    <a routerLink="./about" class="nav-btn" *ngIf="currentPageIsBoard" (click)="switchPage()" >About</a>
    <a class="nav-btn nav-log-out" routerLink="./../login" routerLinkActive="active" (click)="logOut()">Log out</a>
</mat-toolbar>
