.body{
    height: 90%;
    width: 100%;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask3127%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient3128)'%3e%3c/rect%3e%3cpath d='M58 1080L1138 0L1760.5 0L680.5 1080z' fill='url(%23SvgjsLinearGradient3129)'%3e%3c/path%3e%3cpath d='M745.6 1080L1825.6 0L2179.6 0L1099.6 1080z' fill='url(%23SvgjsLinearGradient3129)'%3e%3c/path%3e%3cpath d='M1850 1080L770 0L225.5 0L1305.5 1080z' fill='url(%23SvgjsLinearGradient3130)'%3e%3c/path%3e%3cpath d='M1210.4 1080L130.4000000000001 0L-444.0999999999999 0L635.9000000000001 1080z' fill='url(%23SvgjsLinearGradient3130)'%3e%3c/path%3e%3cpath d='M1067.9054196040915 1080L1920 227.90541960409143L1920 1080z' fill='url(%23SvgjsLinearGradient3129)'%3e%3c/path%3e%3cpath d='M0 1080L852.0945803959086 1080L 0 227.90541960409143z' fill='url(%23SvgjsLinearGradient3130)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask3127'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='10.94%25' y1='119.44%25' x2='89.06%25' y2='-19.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient3128'%3e%3cstop stop-color='rgba(0%2c 143%2c 122%2c 1)' offset='0.12'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 137%2c 186%2c 1)' offset='0.51'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 143%2c 122%2c 1)' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient3129'%3e%3cstop stop-color='rgba(132%2c 94%2c 194%2c 0.81)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(132%2c 94%2c 194%2c 0.81)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient3130'%3e%3cstop stop-color='rgba(132%2c 94%2c 194%2c 0.81)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(132%2c 94%2c 194%2c 0.81)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ideas, .in-progress, .done{
    width: 25%;
    height: 80%;
    background-color: rgba(29, 29, 29, 0.9);
    border-radius: 30px;

    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
}
.add{
    padding: 1%;
    height: 12%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.board-label{
    height: 10%;
    display: flex;
    align-items: center;
}
p{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    height: 10%;
    margin: 0px;
}
.board-items-holder{
    align-self: center;
    width: 95%;
    height: 75%;

    overflow-y: scroll;
}
.add-btn{
    height: 50px;
    width: 50px;
    background-color: rgba(56, 56, 56, 1);
    color: #D9D9D9;
}
.add-input{
    height: 50px;
    width: 75%;
    border-radius: 30px;

    background-color: rgba(56, 56, 56, 1);
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #ffffff;
    text-transform: none;
    outline: none;
    padding-inline: 5%;
    border: 2px solid rgba(56, 56, 56, 1);
}





.ideas-board-item{
    background-color: #D9D9D9;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px 10px 20px 10px;
    border-radius: 15px;

    display: flex;
    align-items: center;
}
.in-progress-board-item{
    background-color: #BACF66;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px 10px 20px 10px;
    border-radius: 15px;

    display: flex;
    align-items: center;
}
.done-board-item{
    background-color: #76C67E;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 20px 10px 20px 10px;
    border-radius: 15px;

    display: flex;
    align-items: center;
}
.ideas-board-item p, .in-progress-board-item p, .done-board-item p{
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 26px;
    color: #000;
}
.ideas-board-item button, .in-progress-board-item button, .done-board-item button{
 width: 50px;
 height: 50px;
 align-self: flex-start;
 border: 1px solid black;
}






.cdk-drag-preview{
    border: 1px solid #000;
}
.cdk-drag-preview button{
    display: none;
}
.cdk-drag-preview p{
    width: 100%;
}

.cdk-drag-placeholder p, .cdk-drag-placeholder button{
    opacity: 0;
}
.cdk-drag-placeholder{
    background-color: rgba(29, 29, 29, 0.5);
    border: 2px dotted #D9D9D9;
}
.cdk-drag-animating{
    transition: transform 200ms cubic-bezier(0, 0, 0.2, 0);
}






.board-items-holder::-webkit-scrollbar {
    width: 10px;
}
.board-items-holder::-webkit-scrollbar-track {
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
}
.board-items-holder::-webkit-scrollbar-thumb {
    background-color: rgb(95, 95, 95);
    border-radius: 20px;
}