.body{
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask12772%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient12773)'%3e%3c/rect%3e%3cpath d='M68 1080L1148 0L1260.5 0L180.5 1080z' fill='url(%23SvgjsLinearGradient12774)'%3e%3c/path%3e%3cpath d='M680.6 1080L1760.6 0L2579.6 0L1499.6 1080z' fill='url(%23SvgjsLinearGradient12774)'%3e%3c/path%3e%3cpath d='M1863 1080L783 0L199.5 0L1279.5 1080z' fill='url(%23SvgjsLinearGradient12775)'%3e%3c/path%3e%3cpath d='M1168.4 1080L88.40000000000009 0L-691.5999999999999 0L388.4000000000001 1080z' fill='url(%23SvgjsLinearGradient12775)'%3e%3c/path%3e%3cpath d='M946.3795036902518 1080L1920 106.3795036902518L1920 1080z' fill='url(%23SvgjsLinearGradient12774)'%3e%3c/path%3e%3cpath d='M0 1080L973.6204963097482 1080L 0 106.3795036902518z' fill='url(%23SvgjsLinearGradient12775)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask12772'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='89.06%25' y1='-19.44%25' x2='10.94%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient12773'%3e%3cstop stop-color='rgba(31%2c 31%2c 31%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(51%2c 0%2c 91%2c 1)' offset='0.25'%3e%3c/stop%3e%3cstop stop-color='rgba(20%2c 0%2c 80%2c 1)' offset='0.74'%3e%3c/stop%3e%3cstop stop-color='rgba(31%2c 31%2c 31%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient12774'%3e%3cstop stop-color='rgba(41%2c 116%2c 139%2c 0.8)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(41%2c 116%2c 139%2c 0.8)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient12775'%3e%3cstop stop-color='rgba(41%2c 116%2c 139%2c 0.8)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(41%2c 116%2c 139%2c 0.8)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    display: flex;
    align-items: center;
    justify-content: center;
}
.ghost{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
a{
    color: #FFFFFF;
}
