<div class="body">
    <mat-card>
        <mat-card-content>
            <p style="margin-top: 4%;">Log in</p>
            <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="form">
                <p style="font-size: 30px; margin-top: 3%;">Email</p>
                <input 
                    type="email"
                    formControlName="email"
                >
                <p style="font-size: 30px; margin-top: 7%;">Password</p>
                <input
                    type="password"
                    formControlName="password"
                >
                <div style="display: flex; justify-content: space-around;
                margin-top: 5%; margin-bottom: 5%;">
                    <a routerLink="../registration">
                        <p style="font-size: 22px; text-decoration: underline;">Registration</p>
                    </a>
                    <a routerLink="../forgot-password">
                        <p style="font-size: 22px; text-decoration: underline;">Forgot password</p>
                    </a>
                </div>
                <button>
                    <p style="color: #000; font-size: 26px;margin: 0 auto;">
                        Log in
                    </p>
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
