<div class="body">
    <mat-card>
        <mat-card-content>
            <p class="l-0">Registration</p>
            <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="form">
                <p class="l-1">Name</p>
                <input 
                    type="text" 
                    formControlName="name"
                >
                <p class="l-2">Email</p>
                <input 
                    type="email" 
                    formControlName="email"
                >
                <p class="l-3">Password</p>
                <input type="password"
                    type="password"
                    formControlName="password"
                    placeholder="4-16 symbols"
                >
                <div style="display: flex; justify-content: space-evenly;
                margin-top: 1%; margin-bottom: 1%;">
                    <a routerLink="../login">
                        <p class="nav-btn">Log in</p>
                    </a>
                    <a routerLink="../forgot-password">
                        <p class="nav-btn">Forgot password</p>
                    </a>
                </div>
                <button>
                    <p style="color: #000; font-size: 26px;margin: 0 auto;">
                        Register
                    </p>
                </button>
            </form>
            
        </mat-card-content>
    </mat-card>
</div>
