<div class="body">
    <mat-card>
        <mat-card-content>
            <p class="l-0">Password</p>
            <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" class="form">
                <p class="l-1">Name</p>
                <input 
                    type="text"
                    formControlName="name"
                >
                <p class="l-2">Email</p>
                <input
                    type="email"
                    formControlName="email"
                >
                <div class="nav-btns">
                    <a routerLink="../registration">
                        <p class="nav-btn">Registration</p>
                    </a>
                    <a routerLink="../login">
                        <p class="nav-btn">Log in</p>
                    </a>
                </div>
                <button>
                    <p style="color: #000; font-size: 26px;margin: 0 auto;">
                        Show
                    </p>
                </button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
