.body{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2396%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='url(%23SvgjsLinearGradient2397)'%3e%3c/rect%3e%3cpath d='M68 1080L1148 0L1260.5 0L180.5 1080z' fill='url(%23SvgjsLinearGradient2398)'%3e%3c/path%3e%3cpath d='M680.6 1080L1760.6 0L2579.6 0L1499.6 1080z' fill='url(%23SvgjsLinearGradient2398)'%3e%3c/path%3e%3cpath d='M1863 1080L783 0L199.5 0L1279.5 1080z' fill='url(%23SvgjsLinearGradient2399)'%3e%3c/path%3e%3cpath d='M1168.4 1080L88.40000000000009 0L-691.5999999999999 0L388.4000000000001 1080z' fill='url(%23SvgjsLinearGradient2399)'%3e%3c/path%3e%3cpath d='M946.3795036902518 1080L1920 106.3795036902518L1920 1080z' fill='url(%23SvgjsLinearGradient2398)'%3e%3c/path%3e%3cpath d='M0 1080L973.6204963097482 1080L 0 106.3795036902518z' fill='url(%23SvgjsLinearGradient2399)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2396'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='89.06%25' y1='-19.44%25' x2='10.94%25' y2='119.44%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2397'%3e%3cstop stop-color='rgba(255%2c 186%2c 0%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 255%2c 72%2c 1)' offset='0.5'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 200%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient2398'%3e%3cstop stop-color='rgba(147%2c 28%2c 163%2c 0.8)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(147%2c 28%2c 163%2c 0.8)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient2399'%3e%3cstop stop-color='rgba(147%2c 28%2c 163%2c 0.8)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(147%2c 28%2c 163%2c 0.8)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");}
p{
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 58px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin:0;
}
mat-card{
    width: 35%;
    height: 65%;
    border-radius: 30px;
    background-color: rgba(29, 29, 29, 0.9);
}
mat-card-content{
    width: 100%;
    height: 100%;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.form{
    width: 80%;
    display: flex;
    flex-direction: column;
}
input{
    width: 90%;
    height: 60px;
    border-radius: 15px;

    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #000000;
    text-transform: none;
    outline: none;
    padding-inline: 5%;
    border: 2px solid #FFF;
}
.nav-btn{
    font-size: 22px; text-decoration: underline;
}
.nav-btns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    margin-bottom: 5%;
}
.l-0{
    margin-top: 4%;
}
.l-1{
    font-size: 30px; margin-top: 4%;
}
.l-2{
    font-size: 30px; margin-top: 3%;
}




button{
    height: 60px;
    width: 100%;
    border-radius: 20px;
    border-color: rgba(29, 29, 29, 0);
    background-color: #3BEF37;

    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover{
    background-color: #27a124;
}




/* More than half */
@media (max-width: 1400px){
    mat-card{
        width: 50%;
    }
    mat-card-content{
        justify-content: center;
    }

}
/* Half */
@media (max-width: 1000px){
    mat-card{
        width: 70%;
    }
    mat-card-content{
        justify-content: center;
    }
}
/* Less than half */
@media (max-width: 700px){
    mat-card{
        width: 90%;
    }
    .nav-btn{
        font-size: 20px;
    }
    mat-card-content{
        justify-content: center;
    }
}
/* Phone vertical */
@media (max-width: 670px){
    mat-card{
        width: 90%;
    }
    .nav-btn{
        font-size: 14px;
    }
    .l-1{
        font-size: 20px;
        height: 50px;
    }
    .l-2{
        font-size: 20px;
        height: 50px;
    }
    .nav-btns{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    input{
        height: 40px;
    }
    .l-0{
        margin-top: 0px;
        font-size: 34px;
    }
    mat-card-content{
        justify-content: center;
    }
}
/* Phone horizontal */
@media (max-height: 420px){
    mat-card{
        width: 95%;
        height: 95%;
    }
    
    .nav-btn{
        font-size: 14px;
    }
    .nav-btns{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    input{
        height: 35px;
    }
    .l-0{
        display: none;
    }
    .l-1{
        font-size: 18px; 
        margin-top: 0px;
        height: 50px;
    }
    .l-2{
        font-size: 18px;
        margin-top: 0px;
        height: 50px;
    }
    mat-card-content{
        justify-content: center;
    }
    button{
        height: 40px;
    }
}


